.service_form
  = simple_nested_form_for [:admin, @project, @service] do |f|
    = f.input :name, input_html: {class: "medium"}
    = f.input :_type, as: :select, collection: Service::SERVICE_KIND, input_html: {multiple: false, class: "medium chosen"},   allow_empty: false
    
    .service_form_custom_fields
      - unless @service.new_record?
        = render partial: "admin/services/partials/form/fields", locals: {fields: @service.class.form_fields, service: @service}
      
    = f.button :submit, class: "btn"  