- unless collection.empty?
  .services_container
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th{style: "width:20%;"}= t("admin.views.services.index.table.name")
          %th{style: "width:20%;"}= t("admin.views.services.index.table.type")
          %th{style: "width:15%;"}
      %tbody
        - collection.each do |service|
          %tr
            %td= link_to service.name, admin_project_service_path(service, project_id: service.project_id)
            %td= service.service_kind_name
            %td.actions
              .pull-right
                = link_to edit_admin_project_service_path(service, project_id: service.project_id), class: "btn btn-primary btn-mini" do
                  %i.iconsweets-create.iconsweets-white
                = link_to admin_project_service_path(service, project_id: service.project_id), class: "btn btn-danger btn-mini", confirm: t("admin.views.services.index.delete_confirmation"), method: :delete do
                  %i.iconsweets-trashcan.iconsweets-white
- else
  = render "admin/common/empty"