- title t("admin.views.services.edit.header")

- content_for :pagepath do
  %li
    = link_to @project.name, [:admin, @project]
    %span.separator
  %li
    = link_to t("admin.views.services.index.header"), [:admin, @project, :services]
    %span.separator
  %li
    = link_to @service.name, admin_project_service_path(@service, project_id: @service.project_id)
    %span.separator
  %li= t("admin.views.services.edit.header")
- content_for :pageheader do
  .pageheader
    .pageicon
      %span.icon-home
    .pagetitle
      %h5= t("admin.views.services.index.header")
      %h1= t("admin.views.services.edit.header")
      
%section.row-fluid
  = render "form"
