- title t("admin.views.services.index.header")

- content_for :pagepath do
  %li
    = link_to @project.name, [:admin, @project]
    %span.separator
  %li= t("admin.views.services.index.header")

- content_for :pageheader do
  .pageheader
    .pageicon
      %span.icon-home
    .pagetitle
      %h1= t("admin.views.services.index.header")
      
%section
  .box
    %p.text-right
      = link_to t("admin.views.services.index.add"), [:new, :admin, @project, :service], class: "btn btn-primary"
    = render "table", locals: {collection: @collection}