= simple_form_for(@beacon) do |f|
  = f.error_notification

  .form-inputs
  = f.input :uuid
  = f.input :major
  = f.input :minor
  = f.label t("admin.models.beacon.color")
  = collection_select :beacon, :color, BeaconColor.all, :id, :name, { allow_blank: "Select color..." }, { class: 'dropdown_notification' }

  .form-actions
    = f.button :submit