- if collection.present?
  .shops_container
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th{style: "width:10%;"}= t("admin.views.models.beacon.id")
          %th{style: "width:25%;"}= t("admin.views.models.beacon.uuid")
          %th{style: "width:15%;"}= t("admin.views.models.beacon.major")
          %th{style: "width:15%;"}= t("admin.views.models.beacon.minor")
          %th{style: "width:15%;"}= t("admin.views.models.beacon.color")
          %th{style: "width:20%;"}
      %tfoot
        %tr
          %th
          %th
          %th
          %th
          %th
          %th
      %tbody
        - collection.each do |beacon|
          %tr
            %td= link_to beacon.id, [beacon]
            %td= beacon.uuid
            %td= beacon.major
            %td= beacon.minor
            %td= beacon.color ? BeaconColor.find(beacon.color).name : ""
            %td.actions
              .pull-right
                = link_to t("admin.views.common.edit"), [:edit, beacon], class: "btn btn-primary btn-mini" 
                = link_to t("admin.views.common.delete"), [beacon], class: "btn btn-danger btn-mini", confirm: t("admin.views.beacons.index.delete_confirmation"), method: :delete
- else
  = render "admin/common/empty"