%h2=  t("admin.views.beacons.index.header")

%section
  .box
    %p.text-right
      = link_to t("admin.views.beacons.index.add"), [:new, :beacon], class: "btn btn-primary"
    = render "table", locals: {collection: @beacons}

