%h2= t("admin.views.beacons.new.header")

- content_for :pageheader do
  .pageheader
    .pageicon
      %span.icon-home
    .pagetitle
      %h5= "test22"
      %h1= "test33"
      
%section.row-fluid
  = render "form"
