%h2= t("admin.views.beacons.one")+": "+@beacon.id.to_s
  
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th{style: "width:25%;"}= t("admin.views.common.attribute")
      %th= t("admin.views.common.value")
    %tbody
      %tr
        %td= t("admin.models.beacon.uuid")
        %td= @beacon.uuid
      %tr
        %td= t("admin.models.beacon.major")
        %td= @beacon.major
      %tr
        %td= t("admin.models.beacon.minor")
        %td= @beacon.minor
      %tr
        %td= t("admin.models.beacon.color")
        %td= @beacon.color ? BeaconColor.find(@beacon.color).name : ""

