%div.map-menu
  = simple_form_for(@map) do |f|
    = f.error_notification

    .form-inputs
    = f.input :name
    = f.input :url ,:as => :hidden
    = f.input :floor 
    = f.input :width , label: t("admin.models.maps.width")+" [cm]"
    = f.input :height , label: t("admin.models.maps.height")+" [cm]"
    = t("admin.views.places.one")
    %br
    = collection_select :map, :place_id, Place.all, :id, :name, { allow_blank: "Select place..." }, { class: 'dropdown_notification' }
    .form-actions
      = f.button :submit,:class => 'btn btn-primary'

%div.map-file-upload
  %div.uploader
    = form_for Upload.new, :html => { :multipart => true, :id => "fileupload"  } do |f|
      / The fileinput-button span is used to style the file input field as button
      %span.btn.btn-success.fileinput-button-beacon
        %i.icon-plus.icon-white
        %span Choose map file...
        = f.file_field :upload
      %button.btn.btn-primary.start{:id => :upload_pic}
        %i.icon-upload.icon-white
        %span Start upload
  %div{:id => :beacon_map}
    = render "map"

  %div{:id => :log}
  %div{:id => :beacon_form}

