%div.map-menu
  = simple_form_for(@map) do |f|
    = f.error_notification

    .form-inputs
    = f.input :name
    = f.input :url ,:as => :hidden
    = f.input :id ,:as => :hidden
    = f.input :floor 
    = f.input :image_width ,:as => :hidden
    = f.input :image_height ,:as => :hidden
    %table
      %tr
        %td
          = f.input :width, :input_html => { :class => "smallInput"}, label: t("admin.models.maps.width")+" [cm]"
        %td
          = f.input :height, :input_html => { :class => "smallInput"}, label: t("admin.models.maps.height")+" [cm]"
    = t("admin.models.map.action_type")
    %br
    = f.select(:map_type, [["Beacon actions", 0], ["Location actions (beta)",1]])
    
    = t("admin.views.places.one")
    %br
    = collection_select :map, :place_id, Place.all, :id, :name, { allow_blank: "Select place..." }, { class: 'dropdown_notification' }
    .form-actions
      = f.button :submit,:class => 'btn btn-primary'

%div.map-file-upload
  %table{style: "text-align:center;width:100%;"}
    %tr
      %td.center
        %b Map File
        %div#map-progress-bar
      %td
        %b Beacons & Actions
    %tr
      %td
        = form_for Upload.new, :html => { :multipart => true, :id => "fileupload", :style => 'margin:0px;'  } do |f|
          %span.btn.btn-success.fileinput-button-beacon
            %i.icon-plus.icon-white
            %span Choose map file...
            = f.file_field :upload
          %button.btn.btn-primary.start{:id => :upload_pic}
            %i.icon-upload.icon-white
            %span Start upload
      %td
        %button.btn.btn-success{:id => :add_beacon}
          %i.icon-plus.icon-white
          %span Add new beacon on 
        %button.btn.btn-primary.start{:id => :add_action}
          %i.icon-plus.icon-white
          %span Add new action
  %div{:id => :beacon_map}
    = render "map"

  %div{:id => :log}
  %div.map_modal{:id => :beacon_new_form,  :title => t("admin.views.beacon_placement.new.header")}
  %div.map_modal{:id => :beacon_edit_form, :title => t("admin.views.beacon_placement.edit.header")}
  %div.map_modal{:id => :map_action_new_form, :title => t("admin.views.action.new.header")}
  %div.map_modal{:id => :map_action_edit_form,  :title => t("admin.views.action.edit.header")}
