- if collection.present?
  .shops_container
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th{style: "width:10%;"}= t("admin.views.models.maps.id")
          %th{style: "width:25%;"}= t("admin.views.models.maps.name")
          %th{style: "width:15%;"}= t("admin.views.models.maps.place_name")
          %th{style: "width:20%;"}
      %tfoot
        %tr
          %th
          %th
          %th
          %th
      %tbody
        - collection.each do |map|
          %tr
            %td= link_to map.id, [map]
            %td= map.name
            %td= map.place_name
            %td.actions
              .pull-right
                = link_to t("admin.views.common.edit"), [:edit, map], class: "btn btn-primary btn-mini" 
                = link_to t("admin.views.common.delete"), [map], class: "btn btn-danger btn-mini", confirm: t("admin.views.maps.index.delete_confirmation"), method: :delete
- else
  = render "admin/common/empty"