%h2=  t("admin.views.maps.index.header")

%section
  .box
    %p.text-right
      = link_to t("admin.views.maps.index.add"), [:new, :map], class: "btn btn-primary"
    = render "table", locals: {collection: @maps}

