%h2= t("admin.views.maps.one")+": "+@map.name
  
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th{style: "width:25%;"}= t("admin.views.common.attribute")
      %th= t("admin.views.common.value")
    %tbody
      %tr
        %td= t("admin.models.maps.name")
        %td= @map.name
      %tr
        %td= t("admin.models.maps.place_name")
        %td= @map.place_name
