= simple_form_for(@beacon_placement) do |f|
  = f.error_notification

  .form-inputs
  = f.input :name
  = f.input :map_id ,:as => :hidden
  %table
    %tr
      %td
        = f.input :x, :input_html => { :class => "smallInput"}
      %td
        = f.input :y, :input_html => { :class => "smallInput"}
  = f.label t("admin.views.beacons.one")
  = collection_select :beacon_placement, :beacon_id, Beacon.all, :id, :displayed_name, { allow_blank: "Select beacon..." }, { class: 'dropdown_notification' }