= simple_nested_form_for [:admin, @project] do |f|
  = f.input :name, input_html: {class: "medium"}
  = f.input :kind, as: :select, collection: Project::PROJECT_KIND, input_html: {multiple: false, class: "medium chosen"}, allow_empty: false

  = f.button :submit, class: "btn"