- if collection.present?
  .shops_container
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th{style: "width:20%;"}= t("admin.views.projects.index.table.name")
          %th{style: "width:25%;"}= t("admin.views.projects.index.table.type")
          %th{style: "width:15%;"}
      %tbody
        - collection.each do |project|
          %tr
            %td= link_to project.name, [:admin, project]
            %td= project.kind_name
            %td.actions
              .pull-right
                = link_to [:edit, :admin, project], class: "btn btn-primary btn-mini" do
                  %i.iconsweets-create.iconsweets-white
                = link_to [:admin, project], class: "btn btn-danger btn-mini", confirm: t("admin.views.projects.index.delete_confirmation"), method: :delete do
                  %i.iconsweets-trashcan.iconsweets-white
- else
  = render "admin/common/empty"