- title t("admin.views.projects.index.header")

- content_for :pagepath do
  %li= t("admin.views.projects.index.header")

- content_for :pageheader do
  .pageheader
    .pageicon
      %span.icon-home
    .pagetitle
      %h1= t("admin.views.projects.index.header")
      
%section
  .box
    %p.text-right
      = link_to t("admin.views.projects.index.add"), [:new, :admin, :project], class: "btn btn-primary"
    = render "table", locals: {collection: @collection}