- title t("admin.views.projects.new.header")

- content_for :pagepath do
  %li
    = link_to t("admin.views.projects.index.header"), [:admin, :projects]
    %span.separator
  %li
    = t("admin.views.projects.new.header")

- content_for :pageheader do
  .pageheader
    .pageicon
      %span.icon-home
    .pagetitle
      %h5= t("admin.views.projects.index.header")
      %h1= t("admin.views.projects.new.header")
      
%section.row-fluid
  = render "form"
