- title @project.name

- content_for :pagepath do
  %li
    = link_to t("admin.views.projects.index.header"), [:admin, :projects]
    %span.separator
  %li
    = @project.name

- content_for :pageheader do
  .pageheader
    .pageicon
      %span.icon-file-alt
    .pagetitle
      %h5= t("admin.views.projects.index.header")
      %h1= @project.name
      
%section.row-fluid
  %h3
    = @project.name


