- fields.keys.each do |key|
  = label_tag key, key
  - if fields[key] == :string
    = text_field_tag "service[#{key}]", (service.public_send(key) unless service.nil?)
  - elsif fields[key] == :text
    = text_area_tag "service[#{key}]", (service.public_send(key) unless service.nil?)
  - elsif fields[key] == :integer
    = number_field_tag "service[#{key}]", (service.public_send(key) unless service.nil?)