/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require jquery.fileupload-ui
 *= require bootstrap_and_overrides
 *= require_tree
 */

 .header-logo {
  	display: block;
  	float: left;
  	margin: 2px 7px 2px 0px;
 }

.navbar .nav > li > a  { 
	display: block;
	float: left;
	left: 0px;
	margin: 5px 10px 0px 0px;
	position: relative;
}

.navbar .brand {
  margin-top:5px;
 }

 .map-menu {
 	width:20%;
 	float:left;
 }

 .map-file-upload {
    display: table;
	width: 80%;
 }

 .uploader {
	margin: 0px auto;
	position: relative;
	text-align: center;
	width: 400px;
 }

.fileinput-button-beacon {
  position: relative;
  overflow: hidden;
  margin-right: 4px;
}

/* line 19, /Users/piotr/.rvm/gems/ruby-2.0.0-p353/gems/jquery-fileupload-rails-0.4.1/vendor/assets/stylesheets/jquery.fileupload-ui.scss */
.fileinput-button-beacon input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: solid transparent;
  border-width: 0 0 100px 200px;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transform: translate(-300px, 0) scale(4);
  direction: ltr;
  cursor: pointer;
}

 .btn {
 	margin: 3px;
 }