//= require jquery.ui.all
//= require mediaelementplayer.min

#beacon_map {
    
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h2 {
    font-size: 25px;
}

 div.map_modal div.input {
    margin-top:3px;
}

#log {
    margin-top: 20px;
}

.beacon_map:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.viewer
{
    height: 100%;
    position: relative;
    background-color: lightgreen;
}

.wrapper
{
    border: 1px solid black;

    position: relative;
    top: 1em;
    left: 1em;
    bottom: 1em;
    right: 1em;
    height: 347px;
    overflow: hidden; /*for opera*/
}

.shadow{
    -webkit-filter: drop-shadow(5px 5px 12px rgba(0,0,0,0.9));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

.toolbar {
    left: 1em;
    position: relative;
    right: 1em;
}
.map_marker {
    z-index: 49;
}

.beaconObject {
    background-image: url('/assets/beacon_manager_small_icon.png');
    width: 31px;
    height: 45px;
    position: absolute;
    display: none;
}

.actionObject {
    background-image: url('/assets/action_radius.png');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
    position: absolute;
    display: none;
}

#status {
    text-align: center;
    width: 100%;
}

.smallInput {
    width:70px;
    margin-right: 5px;
}

#map-progress-bar {
    width: 290px;
    margin: 0 auto;
}

#action-info {
    float: left;
    margin-right: 5px;
}

#action-content {
    float: left;
    margin-right: 5px;   
}

#action-media {

}

#map-action-content {
    height: 230px;
}

#errors {
    color: #CC3232;
    text-align: center;
    width: 100%
}

.mejs-container { 
    float: right;
    margin-top: 10px;
    margin-right: 15px;
}

#mediaImage  {
    height:200px;
    width:350px;
    float:left;
    margin-top: 8px;
    border:1px solid #cccccc;
}

#mediaImage img {
    max-width:100%; 
    max-height:100%;
    margin:auto;
    display:block;
}
