.form-inputs
  = simple_form_for(@map_action) do |f|
    = f.error_notification
    %div#action-info
      %table
        %tr
          %td{:colspan => 2} 
            = "Action Info"
            = f.input :name
            = f.input :map_id ,:as => :hidden
            %br
        %tr{:class => "locationData"}
          %td{:colspan => 2}
            = "Position [cm]"
        %tr{:class => "locationData"}
          %td
            = f.input :x, :input_html => { :class => "smallInput"}
          %td
            = f.input :y, :input_html => { :class => "smallInput"}
        %tr
          %td
            = f.input :proximity, :input_html => { :class => "smallInput"}
          %td 
            = "cm"
      - if @map_action.beacon_id
        = f.label t("admin.models.action.beacon")
        = collection_select :map_action, :beacon_id, Beacon.find(BeaconPlacement.find(:all, :conditions => { :map_id => @map_action.map_id}, :select => :beacon_id).map(&:beacon_id)), :id, :displayed_name, { allow_blank: "Select beacon..." }, { class: 'dropdown_notification' }
      - else 
        = f.label t("admin.models.action.beacon"),:class => "beaconData"
        = f.select(:beacon_id, [["Loading", -1]]);

      = f.label t("admin.models.action.type")
      = f.select(:action_type, [["Text", 0], ["Image",1], ["Video", 2], ["Audio", 3]])
      = f.input :media_url ,:as => :hidden
      = f.input :action_url ,:as => :hidden
    %div#action-content
      = f.input :content, :label => "Text content"
  %div#action-media    
    = "Media"
    %div#media-uploader
      %div#media-progress-bar
      = form_for Upload.new, :html => { :multipart => true, :id => "media-fileupload", :style => 'margin:0px;'  } do |ff|
        %span.btn.btn-success.fileinput-button-beacon
          %i.icon-plus.icon-white
          %span Choose media file...
          = ff.file_field :upload
        %button.btn.btn-primary.start{:type => "submit", :id => :upload_media}
          %i.icon-upload.icon-white
          %span Start upload
      %div#errors
    %video#player{:width => "350", :height => "200"}
    %audio#audioPlayer{:width => "350", :height => "30"}
    %div#mediaImage
      %img#mediaImg
