- if collection.present?
  .shops_container
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th{style: "width:10%;"}= t("admin.views.models.place.id")
          %th{style: "width:25%;"}= t("admin.views.models.place.name")
          %th{style: "width:15%;"}= t("admin.views.models.place.maps")
          %th{style: "width:20%;"}
      %tfoot
        %tr
          %th
          %th
          %th
          %th
      %tbody
        - collection.each do |place|
          %tr
            %td= link_to place.id, [place]
            %td= place.name
            %td= place.maps_count
            %td.actions
              .pull-right
                = link_to t("admin.views.common.edit"), [:edit, place], class: "btn btn-primary btn-mini" 
                = link_to t("admin.views.common.delete"), [place], class: "btn btn-danger btn-mini", confirm: t("admin.views.places.index.delete_confirmation"), method: :delete
- else
  = render "admin/common/empty"