%h2=  t("admin.views.places.index.header")

%section
  .box
    %p.text-right
      = link_to t("admin.views.places.index.add"), [:new, :place], class: "btn btn-primary"
    = render "table", locals: {collection: @places}

