%h2= t("admin.views.places.one")+": "+@place.name
  
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th{style: "width:25%;"}= t("admin.views.common.attribute")
      %th= t("admin.views.common.value")
    %tbody
      %tr
        %td= t("admin.models.place.name")
        %td= @place.name
      %tr
        %td= t("admin.models.place.maps")
        %td= 0
