!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Beacons"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"
    = csrf_meta_tag

  %body
    .navbar.navbar-fluid-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          =image_tag("beacon_manager_small_icon.png", :class => "header-logo")
          %a.brand(href="#") BeaconsManager
          .container.nav-collapse
            %ul.nav
              %li 
                - if admin_signed_in?
                  =link_to t("admin.views.beacons.many"), :controller => :beacons, :action => :index 
                  %li= link_to t("admin.views.places.many"), :controller => :places, :action => :index 
                  %li= link_to t("admin.views.maps.many"), :controller => :maps, :action => :index 
                  %li= link_to t("admin.views.common.layout.sign_out")+" ("+current_admin.email+")", destroy_admin_session_path, method: :delete, :class => 'navbar-link'

                - else 
                  =link_to t("admin.views.common.sign_up"), new_admin_session_path, :class => 'navbar-link' 

    .container-fluid

      .row-fluid
        = bootstrap_flash
        = yield
    
      %footer
        %p &copy; Piotr Adamczak - 94257 - 2014
